.git
.gitignore
.env
.myenv
.venv
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.devcontainer
agentic_rag_with_tools.py
chroma_debug.py
# Exclude the Hugging Face vector store since we're only using OpenAI embeddings
data/chroma_db_llamaparse-huggincface/

# Exclude any large unnecessary files
*.gz
*.zip
*.tar
*.log